<li class="heading">
    <h3 class="uppercase">TEST</h3>
</li>

<li class="heading">
    <a href="{{ path('domotiquebundle_domobox_module_get_module_RGB') }}" class="nav-link ">
        <i class="fa fa-industry"></i>
        <span class="title">module RGB</span>
    </a>
</li>
