<li class="heading">
    <h3 class="uppercase">interface</h3>
</li>

<li>
    <a href="" class="nav-link ">
        <i class="fa fa-industry"></i>
        <span class="title">mode module</span>
    </a>
</li>

<li>
    <a href="{{ path('domotiquebundle_domobox_debug') }}" class="nav-link ">
        <i class="fa fa-industry"></i>
        <span class="title">mode debug</span>
    </a>
</li>

<li class="heading">
    <h3 class="uppercase">TEST</h3>
</li>

<li>
    <a href="{{ path('domotiquebundle_domobox_module_get_module_RGB') }}" class="nav-link ">
        <i class="fa fa-industry"></i>
        <span class="title">module RGB</span>
    </a>
</li>

<li>
    <a href="{{ path('domotiquebundle_domobox_video') }}" class="nav-link ">
        <i class="fa fa-video-camera"></i>
        <span class="title">videosurveillance</span>
    </a>
</li>