{% extends 'FrondOfficeBundle:MetronicWebApp:body-page-content.html.twig' %}

{% block moreCss %}{% endblock moreCss %}
{% block moreJs %}
    <script type="text/javascript">

        $(document).ready(function () {
            var dataJson = '[' + '{"webcam":"' + '{{ webcams[0] }}' + '"}' + ']';

            setInterval(function () {

                $.ajax({
                    type: "POST",
                    url: "{{ path('domotiquebundle_domobox_webcam') }}",
                    data: 'data=' + dataJson,
                    cache: false,
                    success: function (data) {
                        $('#imagex').html('<img src="data:image/png;base64,' + data + '" />');
                    }
                });

            }, 5000);
        });
    </script>
{% endblock moreJs %}

{% set title_page = 'test module RGB' %}

{% block content_txt %}
    <div id="imagex"></div>
{% endblock content_txt %}
