{% extends 'BackOfficeBundle:Metronic:body-page-content-managed_datatables.html.twig' %}

{% set title_page = 'historiques modules' %}
{% set path_entity_new = 'd' %}

{% block content_txt %}
<tr>
    <th> Temps</th>
    <th> Sondevaleur</th>
</tr>
</thead>
<tbody>
{% for entity in entities %}
    <tr class="odd gradeX">
        <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{{ entity.sonsorValue }}<</td>
        <td>
            <span class="label label-sm label-warning"> Suspended </span>
        </td>
    </tr>
{% endfor %}
{% endblock content_txt %}
